<style media="screen">
  #map { height: 600px; }
</style>
<div id="map"></div>
<script type="text/javascript">
  var marker_content
  var origin_marker
  var gb_datas = []
  var map
  $.get("http://172.16.3.118:5000/garbages", function(data){
    gb_datas = data;
    map = L.map('map');
    map.setView([gb_datas[0].latitude, gb_datas[0].longitude], 15);
    map.on("click", function(e){
      var lt = e.latlng.lat
      var lg = e.latlng.lng
      sessionStorage.setItem("origin","{\"latitude\": "+lt+", \"longitude\": "+lg+"}");
      if (origin_marker != undefined){
        map.removeLayer(origin_marker);
      }
      origin_marker = new L.Marker([lt, lg], {
              icon: new L.DivIcon({
                  className: 'my-div-icon',
                  html: '<img class="my-div-image" src="rsc/truck.png" style="height: 50px; width: 50px;"/>'
              })
          }).addTo(map);
      //var marker = L.marker([lt, lg]).addTo(map);
      //add_garbage(e.latlng.lat,e.latlng.lng)
    })

    $('#compute').on('click', () => {
      let origin = JSON.parse(sessionStorage.getItem("origin"));
    console.log(origin);
    let dt = {latitude: origin.latitude, longitude: origin.longitude}
    $.ajax({
      type: 'POST',
      url: 'http://172.16.3.118:5000/route',
      data: JSON.stringify(dt),
      error: function(e) {
        alert("Echec d'obtention de la route!")
        console.log(JSON.stringify(dt))
      },
      success: function(data){
        clearMap();
        let polyLine = L.polyline(JSON.parse(data).polyline, {color : 'green'}).addTo(map);
        map.fitBounds(polyLine.getBounds());
        console.log(JSON.parse(data).waypoint_order);
      },
      dataType: "text",
      contentType: "application/json"
    });
    })

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoibWFpbm5pbmUiLCJhIjoiY2sxeGg2cDQ3MGJtdjNvcWd4aWplMnFtMCJ9.6QkdiBXn6IMmw8MFEe455g'
    }).addTo(map);
    for (var i = 0; i < gb_datas.length; i++) {
      marker_content = marker_content = '<div class="" style="width:300px; height:100px;"><label for="filling-range">Current filling</label><input type="range" min="0" max="100" step="5" value="0" id="frng_'+gb_datas[i].id+'"><div class="left"><button type="submit" class="btn" onclick="add_details('+gb_datas[i].id+')">Submit</button></div><div class="right">Last statement: 25/06/2019</div></div><div><button type="submit" onclick="delete_garbage('+gb_datas[i].id+')">Supprimer la poubelle</button></div>'
      //var marker = L.marker([gb_datas[i].latitude, gb_datas[i].longitude]).addTo(map);
      var marker2 = new L.Marker([gb_datas[i].latitude, gb_datas[i].longitude], {
              icon: new L.DivIcon({
                  className: 'my-div-icon',
                  html: '<img class="my-div-image" src="rsc/trash.png" style="height: 30px; width: 30px;"/>'
              })
          }).addTo(map);
      marker2.bindPopup(marker_content).openPopup();
    }
  })

  function clearMap() {
    for(i in map._layers) {
        if(map._layers[i]._path != undefined) {
            try {
                map.removeLayer(map._layers[i]);
            }
            catch(e) {
                console.log("problem with " + e + map._layers[i]);
            }
        }
    }
}

</script>
<button type="button" class="btn btn-primary" id="compute" name="button">Calculer le chemin depuis la position</button>
