<style media="screen">
  #map { height: 600px; }
</style>
<div id="map"></div>
<script type="text/javascript">
  var gb_datas = []
  $.get("http://172.16.3.118:5000/garbages", function(data){
    gb_datas = data;
    var map = L.map('map').setView([gb_datas[0].latitude, gb_datas[0].longitude], 15);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoibWFpbm5pbmUiLCJhIjoiY2sxeGg2cDQ3MGJtdjNvcWd4aWplMnFtMCJ9.6QkdiBXn6IMmw8MFEe455g'
    }).addTo(map);
    for (var i = 0; i < gb_datas.length; i++) {
      var marker = L.marker([gb_datas[i].latitude, gb_datas[i].longitude]).addTo(map);
      marker.bindPopup(gb_datas[i].id+'<hr><br><label>Taux de remplissage:</label><input type="text" id="txt_'+gb_datas[i].id+'"/><br><button onclick="add_details('+gb_datas[i].id+')">Ajouter le taux</button>').openPopup();
    }
  })
</script>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
      <p id="modal-description">A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
